<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="./assets/style/bootstrap.css" />

    <!-- CSS Link -->
    <link rel="stylesheet" href="./assets/style/style3.css" />
  </head>
  <body>
    <center>
      <h1>Login Page</h1>
      <div class="login-container">
        <table>
          <tr>
            <td><label for="">Name</label></td>
            <td><input id="name" type="text" /></td></td>
          </tr>
  
          <br />
          
          <tr>
            <td><label for="">Password</label></td>
            <td><input id="password" type="password" /></td>
          </tr>
  
          <br />
          
          <tr>
            <td>
              <form action="/views/game.ejs">
                <button id="submit">Submit</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
